.telemetry-type-selector-header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: white;
  margin: 8px 0;
  padding: 8px;
  align-items: center;

  .padding {
    flex: 1 auto;
  }
}

.log {
  padding-left: 4px;

  .header {
    display: flex;
    flex-direction: row;

    span {
      flex: 0 90px;
    }

    .date {
      flex: 0 75px;
    }

    .message {
      flex: 1 100px;
    }

    .store-id {
      flex: 0 150px;
    }

    .operation-name {
      flex: 1 100px;
    }
  }


  .details {
    padding-left: 16px;
  }
}

.error {
  background-color: rgba(157, 0, 9, 0.53);
  font-weight: bold;
}

.log-exception {
  border-left: 6px solid darkred;
}

.log-trace {
  border-left: 6px solid dodgerblue;
}

.log-request {
  border-left: 6px solid purple;
}

.log-message {
  border-left: 6px solid green;
}

.log-metric {
  border-left: 6px solid grey;
}

.log-remotedependency {
  border-left: 6px solid #a4ac25;
}

.log-event {
  border-left: 6px solid #4999a2;
}

.selected {
  background-color: #ececec;
}

.telemetry-type-selector {
  padding-left: 4px;
  border-left-width: 24px;
  margin-right: 8px;
}
