<h1>Logs</h1>

<div class="telemetry-type-selector-header">
  <div *ngFor="let type of objectKeys(displayedTypes)" [ngClass]="'log-' + type.toLowerCase()" class="telemetry-type-selector">
    <mat-checkbox checked="displayedTypes[type]" (change)="displayedTypes[type] = $event.checked">{{type}}</mat-checkbox>
  </div>
  <div class="padding"></div>
  <div class="action">
    <button mat-raised-button color="primary" (click)="clear()">CLEAR</button>
  </div>
</div>


<div *ngFor="let log of logs">
  <div *ngIf="displayedTypes[log.type]" class="log" [ngClass]="'log-' + log.type.toLowerCase()" [class.selected]="selectedLog === log">
    <div (click)="selectLog(log)" [class.error]="log.hasAnalyticErrors" class="header">
      <span class="date">
        {{log.time | date:'HH:mm:ss'}}
      </span>
      <span>
        {{log.appName}}
      </span>
      <span class="store-id">
        {{log.storeId}}
      </span>
      <span class="operation-name" *ngIf="log.operationName">
        {{log.operationName}}
      </span>
      <span *ngIf="log.type === 'Event'" class="message">
        {{log.data.baseData.properties['MessageTemplate']}}
      </span>
      <span *ngIf="log.type === 'Exception'" class="message">
        {{log.data.baseData.properties['MessageTemplate']}}
      </span>
      <span *ngIf="log.type === 'Message'" class="message">
        {{log.data.baseData.properties['message'] || log.data.baseData.properties['Message'] || log.data.baseData.properties['MessageTemplate']}}
      </span>
    </div>
    <div *ngIf="log.hasAnalyticErrors">
      <pre>{{log.data.baseData.properties['AnalyticErrors'].split("\\r\\n").join("\r\n")}}</pre>
    </div>
    <div *ngIf="selectedLog === log" class="details">
      <pre *ngIf="selectedLog">{{selectedLog | json}}</pre>
    </div>
  </div>
</div>
