<div>

  <mat-form-field>
    <input matInput [(ngModel)]="filter" placeholder="Filter">
  </mat-form-field>


  <div class="process-list">
    <mat-selection-list>
      <ng-template ngFor [ngForOf]="processes" let-process>
        <mat-list-option *ngIf="matchFilter(process)" checkboxPosition="before" [selected]="process.attached" (click)="selectProcess(process)">
          {{process.pid}} {{process.name}}
        </mat-list-option>
      </ng-template>
    </mat-selection-list>
  </div>
</div>
